<!DOCTYPE html>
<html>
    <head>
        <title>Counter's Control Panel</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    </head>
<body>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="container">
<h1>Control Panel</h1>
<a class="btn btn-default" href="index.php" role="button">Home</a>
<a class="btn btn-default" href="index.php?op=add" role="button">Create counter</a> - 
<a class="btn btn-default" href="logout.php" role="button">Logout</a>
<br>
